AUTHENTIK_REDIS__HOST="redis"
AUTHENTIK_POSTGRESQL__HOST="postgres"
AUTHENTIK_POSTGRESQL__USER="authentik"
AUTHENTIK_POSTGRESQL__NAME="authentik"
AUTHENTIK_POSTGRESQL__PASSWORD="STRONG_PASSWORD"
AUTHENTIK_SECRET_KEY="THIS_SHOULD_BE_CHANGED_TO_A_RANDOM_STRING"
AUTHENTIK_ERROR_REPORTING__ENABLED="false"